
.contact-form {
  margin-bottom: 5vw;
  & input {
    background: #FFFFFF;
    border: 3px solid #e6e6e6;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 0;
    color: rgba(51, 51, 51, 0.501557);
    padding: 11px 23px;
    outline: none;
  }

  & button {
    border-radius: 24px;
    background: $accent-color;
    padding: 10px 30px;
    border: 2px solid transparent;
    transition: all .3s;
    color: white;
    font-weight: 500;
    cursor: pointer;
    &:hover{
      color: $accent-color;
      background: transparent;
      border: 2px solid $accent-color;
    }
  }
}

[include*="form-input-select()"] {
  display: block;
  padding: 0;
  position: relative;
  color: $accent-color;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 15px;
  width: 100%;
}
[include*="form-input-select()"]::before, [include*="form-input-select()"]::after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
[include*="form-input-select()"] select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 1px solid transparent;
  font-size: 16px;
  outline: none;
  /* Focus style */
}
[include*="form-input-select()"] select:focus {
  background-color: transparent;
  outline: none;
}
[include*="form-input-select()"] option {
  font-weight: normal;
}
[include*="form-input-select()"] x:-o-prefocus, [include*="form-input-select()"]::after {
  display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  [include*="form-input-select()"] select::-ms-expand {
    display: none;
  }
  [include*="form-input-select()"] select:focus::-ms-value {
    background: transparent;
    color: #000;
  }
}
@-moz-document url-prefix() {
  [include*="form-input-select()"] {
    overflow: hidden;
  }
  [include*="form-input-select()"] select {
    width: 120%;
    width: calc(100% + 3em);
    /* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
  }
  @supports (-moz-appearance: none) {
    [include*="form-input-select()"] select {
      width: 100%;
    }
  }
  [include*="form-input-select()"] select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
@supports (-moz-appearance: none) {
  [include*="form-input-select()"] {
    width: 100%;
  }
}
[include*="form-input-select()"]::before, [include*="form-input-select()"]::after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  border: 1px solid transparent;
  width: 0;
  height: 0;
  right: 16px;
}
[include*="form-input-select()"]::before {
  bottom: 55%;
  border-width: 0 6.5px 8px 6.5px;
  border-bottom-color: #D6D6D6;
}
[include*="form-input-select()"]::after {
  border-width: 8px 6.5px 0 6.5px;
  border-top-color: #D6D6D6;
  top: 55%;
}
@-moz-document url-prefix() {
  [include*="form-input-select()"] {
    border-right: 3px solid #E6E6E6;
  }
  [include*="form-input-select()"]:hover {
    border-right: 3px solid $accent-color;
  }
}
[include*="form-input-select()"]:hover select {
  box-shadow: 0 2px 3px rgba(0, 91, 166, 0.1) inset;
  border-color: $accent-color;
}
[include*="form-input-select()"]:hover select:focus {
  outline-color: transparent;
}
[include*="form-input-select()"]:hover::before {
  border-bottom-color:  $accent-color;
}
[include*="form-input-select()"]:hover::after {
  border-top-color:  $accent-color;
}
[include*="form-input-select()"] select {
  border: 3px solid #E6E6E6;
  border-radius: 0;
  font-weight: 400;
  color: inherit;
  padding: 11px 15px;
  line-height: normal;
  transition: border-color 0.2s ease, outline 0.2s ease;
}
[include*="form-input-select()"] select:focus {
  box-shadow: 0 3px 4px rgba(0, 91, 166, 0.3) inset;
  outline: 3px solid  $accent-color;
  outline-offset: -3px;
}
[include*="form-input-select()"] select[disabled], [include*="form-input-select()"] select:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
[include*="form-input-select()"] select:not(:focus):invalid {
  color: #C7C7C7;
}



fieldset {
  border: none !important;
  position: relative;
  margin: 0;
  padding: 0 !important;
  & input{
    width: 100%;
  }
}

form fieldset label {
  position: absolute;
  top: 13px;
  left: 17px;
  color: #909090;
  font-weight:300;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

form fieldset input:valid + label, form fieldset input:focus + label {
  color: $accent-color;
  font-weight: 700;
  font-size: 12px;
  transform: translate3d(0, -25px, 0);
  padding: 5px;
  background: white;
}

.contact-title {
  margin-bottom: 4vw;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}


.col-f{
  margin-right: 5px;
}
